    body {
      display: -webkit-box;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      background-image: url("assets/bg.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      color: white;
      font-family: sans-serif;
      -webkit-font-smoothing: antialiased;
      overflow-x: hidden;
    }

    .wrapper {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 1px;
      height: 100vh;
      right: 30px;
    }

    .el {
      position: absolute;
      opacity: 1;
      width: 2px;
      height: 24vh;
      margin-top: -12vh;
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      background: white;
    }

.links {
    position: fixed;
    top:0;
    left: 40%;
}

.image{
    height: 32px;
    width: 32px;
}

.footer {
    position: fixed;
    bottom: 20%;
    left: 20px;
    color: #525150;
    line-height: 1.8;
}

.title {
    color: #03cc85;
    position: fixed;
    top: 20%;
    left: 20px;
    font-weight: 900;
}

h2 {
    color: #525150;
}

.footer a {
    text-decoration: none;
    color: unset;
    font-size: 15px;
    color: #000;
}
